

.container ul.cont-radio-custom{
  list-style: none;
  margin: 0 auto;
  padding: 0;
  overflow: auto;
}

ul.cont-radio-custom li.radio-custom{
  color: #fff;
  display: block;
  position: relative;
  float: left;
  width: 50%;
}

ul.cont-radio-custom li.radio-custom input[type=radio]{
  position: absolute;
  visibility: hidden;
}

ul.cont-radio-custom li.radio-custom label{
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 14px;
  padding: 20px 0;
  margin: 10px 0 10px 2em;
  height: 20px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
  font-family: 'Arial', 'Helvetica', 'sans-serif';
}

ul.cont-radio-custom li.radio-custom:hover label{
	color: #fff;
}

.check {
	background: #fff;
}

ul.cont-radio-custom li.radio-custom .check{
  display: block;
  position: absolute;
  border: 1px solid #fff;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  top: 30px;
  left: 20px;
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}

ul.cont-radio-custom li.radio-custom:hover .check {
  border: 1px solid #fff;
}

ul.cont-radio-custom li.radio-custom .check::before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 100%;
  height: 12px;
  width: 12px;
  top: 3px;
  left: 3px;
  margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check {
  border: 1px solid #0090DA;

}

input[type=radio]:checked ~ .check::before{
  background: #0090DA!important;
}



/* Landscape phones and smaller */
@media (max-width: 480px) {
		
	ul.cont-radio-custom li.radio-custom label	{
		    margin: 10px 0 10px 2.5em!important;
	}
	
	.cont-radio-custom {
		width: 100%!important;
	}

}